Badendycksgraben.cpg
Badendycksgraben.dbf
Badendycksgraben.prj
Badendycksgraben.shp
Badendycksgraben.shx
Baltic_label.cpg
Baltic_label.dbf
Baltic_label.prj
Baltic_label.shp
Baltic_label.shx
Barthe.cpg
Barthe.dbf
Barthe.prj
Barthe.shp
Barthe.shx
Basemap.cpg
Basemap.dbf
Basemap.prj
Basemap.shp
Basemap.shx
DZBC_outline.cpg
DZBC_outline.dbf
DZBC_outline.prj
DZBC_outline.shp
DZBC_outline.shx
Duwenbeek.cpg
Duwenbeek.dbf
Duwenbeek.prj
Duwenbeek.shp
Duwenbeek.shx
Ecotypes.qgz
GB_outline.cpg
GB_outline.dbf
GB_outline.prj
GB_outline.shp
GB_outline.shx
Genetic_sample.cpg
Genetic_sample.dbf
Genetic_sample.prj
Genetic_sample.shp
Genetic_sample.shx
Genetics_locations.csv
Grenze_Polen.cpg
Grenze_Polen.dbf
Grenze_Polen.prj
Grenze_Polen.shp
Grenze_Polen.shx
Kleiner_Döllnsee.cpg
Kleiner_Döllnsee.dbf
Kleiner_Döllnsee.prj
Kleiner_Döllnsee.shp
Kleiner_Döllnsee.shx
Körkwitzer_Bach.cpg
Körkwitzer_Bach.dbf
Körkwitzer_Bach.prj
Körkwitzer_Bach.shp
Körkwitzer_Bach.shx
Lagoon_names.cpg
Lagoon_names.dbf
Lagoon_names.prj
Lagoon_names.shp
Lagoon_names.shx
NRBC_outline.cpg
NRBC_outline.dbf
NRBC_outline.prj
NRBC_outline.shp
NRBC_outline.shx
Neuendorfer_Hechtgraben.cpg
Neuendorfer_Hechtgraben.dbf
Neuendorfer_Hechtgraben.prj
Neuendorfer_Hechtgraben.shp
Neuendorfer_Hechtgraben.shx
Oder.cpg
Oder.dbf
Oder.prj
Oder.shp
Oder.shx
Peene.cpg
Peene.dbf
Peene.prj
Peene.shp
Peene.shx
Recknitz.cpg
Recknitz.dbf
Recknitz.prj
Recknitz.shp
Recknitz.shx
Salinity_SD_revised.tif
Salinity_mean_revised.tif
Salinity_range_revised.tif
Sample points.cpg
Sample points.dbf
Sample points.prj
Sample points.shp
Sample points.shx
Sehrowbach.cpg
Sehrowbach.dbf
Sehrowbach.prj
Sehrowbach.shp
Sehrowbach.shx
Temperature_mean_revised.tif
Temperature_range_revised.tif
WRBC_outline.cpg
WRBC_outline.dbf
WRBC_outline.prj
WRBC_outline.shp
WRBC_outline.shx
Ziese.cpg
Ziese.dbf
Ziese.prj
Ziese.shp
Ziese.shx
